@page
@model MIS331ERP_GrpProject.Pages.Login

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>LoginPage</title>
</head>
<body>
<div>
    <asp:LoginName runat="server"></asp:LoginName> 
    <input id="Password1" type="password" />
    <asp:Button runat="server" Text="Login"></asp:Button>
</div>
</body>
</html>